<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.mapper.TagMapper">
    <update id="updatedelFlagById" parameterType="String">
        UPDATE `xy_tag` set del_flag = 1 where id in
        <foreach item="tagId" collection="list" open="(" separator="," close=")">
            #{tagId}
        </foreach>
    </update>
<!--    首先这是一个更新操作-将del_flag变为1-->
<!--    其次有in的操作时需要用到foreach     -->
<!--    其中collection可以取为list(传入单参数且为List) array(传入单参数且为数组) map(传入多参数或单参数)-->
<!--    <delete id="deleteSysStudentStuIds" parameterType="String">-->
<!--        delete from sys_student where stu_id in-->
<!--        <foreach item="stuId" collection="array" open="(" separator="," close=")">-->
<!--            #{stuId}-->
<!--        </foreach>-->
<!--    </delete>-->
</mapper>