<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xy.mapper.ArticleMapper">
    <update id="updatedelFlagById">
        UPDATE `xy_article` SET del_flag = 1 WHERE id IN
        <foreach item="articleId" collection="list" open="(" separator="," close=")">
            #{articleId}
        </foreach>
    </update>
    <select id="getTagsByArticleIDs" resultType="java.lang.Long">
        SELECT att.`tag_id`
        FROM `xy_article` a
                 LEFT JOIN `xy_article_tag` att ON a.`id`=att.`article_id`
        WHERE a.`id` = #{articleId}
    </select>
</mapper>